################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Andrew_Battle_Simulator/v16
/Andrew_Battle_Simulator/Debug/Andrew_B.3C27C403.tlog
/Andrew_Battle_Simulator/Debug
/x64/Debug
/Debug
/Andrew_Battle_Simulator/x64/Debug/Andrew_B.3C27C403.tlog
/Andrew_Battle_Simulator/x64/Debug

